## Settings file was created by plugin Network Fix v1.1.0
## Plugin GUID: com.github.dalayeth.Networkfix

[Default]

# Setting type: Boolean
# Default value: true
Enabled = true

[Networking]

## The max send queue possible. Default: 10,240.
# Setting type: Int32
# Default value: 30720
MaxSendQueueSize = 262144

## Minimum send rate clamp. This value will control the min allowed sending rate that bandwidth estimation is allowed to reach.
# Setting type: Int32
# Default value: 524288
SendRateMin = 4194304

## Maximum send rate clamp. This value will control the max allowed sending rate that bandwidth estimation is allowed to reach.
# Setting type: Int32
# Default value: 524288
SendRateMax = 4194304

